In [1]:
from serpapi import GoogleSearch 
import pandas as pd

In [2]:
api_key = "5d6289c06d2b6cfce9db2909be346b6b981f62123c9670809947981ec7c65ed9"

resume = "Thomas Sharples    Tsharples101@gmail.com       https://github.com/tomsharples1      07591216386  Education   BSc (Hons) in Mathematics with Statistics - University of Nottingham, UK                                                         Grade: First Class (1st)  Final Year Group Project: 74%     Key Modules:   Applied Statistical Modelling: General Linear Models, Logistic Regression and Modelling with Survival Data, both theoretically and in R.  Multivariate Analysis: Handling high dimensional data and performing PCA, Linear Discriminant Analysis and Clustering, both theoretically and in R.    Statistical Inference: Maximum Likelihood Estimation, Bayesian Inference and Markov Chain Monte Carlo.     Monk’s Walk Sixth Form - Hertfordshire, UK                                                                         A-Levels  Further Mathematics (A*), Mathematics (A*), Chemistry (C)      Technical Skills   • Python: Proficient in data manipulation, supervised & unsupervised machine learning, using APIs and numerical methods. Experienced with Jupyter Notebook and libraries such as NumPy, Scikit-learn, Pandas, and SerpApi.  • R: Proficient in regression models, hypothesis testing and machine learning techniques such as PCA and clustering. Skilled in data manipulation, visualisation and analysis using the tidyverse suite.   • Data Visualisation: Expertise in visualising data using libraries such as Matplotlib in Python and ggplot2 and factoextra in R.  • Languages: Highly skilled in French speaking, reading and writing developed in Interfaculty French Level 3 and Level 4. Conversational proficiency in German handling day to day interactions well and a developing knowledge of Arabic.    Projects  Data Science Project – Grade: 100%  Analysed a United Nations data set to explore the economic and health indicators of various countries using machine learning and multivariate analysis techniques in R.  • PCA: Plotting and interpreting principal components to understand the similarities between countries by GDP and life expectancy.   • Clustering: Assessing whether k-means, model based or hierarchical clustering methods yielded the best results in classifying countries based on GDP and life expectancy.   • Linear Discriminant Analysis: Predicting continent based on GDP, life expectancy and population data and assessing the predictive accuracy using a confusion matrix.   • Regression: Building a linear model using OLS, principal component and ridge regression to predict life expectancy in 2007 and determine which method gave the most accurate model.  Job Matcher Machine Learning Algorithm  Developed a program in Python that matches job descriptions with CVs using machine learning, outputting a table of jobs with the highest percentage matches. Using Jupyter Notebook to provide real-time updates to the table as new data was streamed from the API.  • APIs: Developed my knowledge of APIs by using SerpApi to web scrape data from Google Jobs to input into my machine learning algorithm.   • Machine Learning: Improved machine learning skills by learning text similarity algorithms and developed my understanding of Scikit-learn library.  • Future plans include developing this project into an NLP based application to improve the accuracy of the percentage match.  Final Year Applied Mathematical Modelling Group Projects - Grade 74%  Project 1: Modelling Javelin Trajectories, Project 2: Modelling Bumper Car Dynamics, Project 3: Modelling Spontaneous Ignition.   • Python Skills: Applied object-oriented programming to solve differential equations using numerical methods such as the Runge-Kutta method and the Finite Difference Method.  • Machine Learning: Employing machine learning polynomial regression to predict the flight path in project one, using Sci-kit learn, NumPy and Matplotlib libraries.  • Mathematical Report Writing: Following a model, analysis, results (MAR) structure to show our findings clearly and effectively.  • Presentation: Presenting our project results to a large audience, ensuring complex ideas were understandable to various mathematical levels.    Experience   U-Cycle Business Development Officer and Operations Advisor - Enactus Nottingham, 2024  • 1000% increase in reach on Instagram by managing and developing relationships between societies and companies, contributing to a £1400 increase in revenue since the previous year.  • Refined leadership skills while organising a competition in collaboration with an engineering society, engaging 50 participants and hosting multiple events including a final judging panel event.  • Performed analysis on CO2 emissions while running a social media campaign with sustainability society to promote Ucycle’s environmental benefits.  • Advised operational decisions including supplier selection, pricing negotiation and cost analysis.    Great British Cycling Team Cyclist – UK, 2019 - 2021  • Transferred Athletic Discipline built by working towards challenging goals and understanding the importance of the long game to my academic studies.  • Balanced training, travel and education developing my time management skills.   • Analysed Real Data from training by identifying patterns, allowing me to make informed decisions around training progress.   • Performed at the Highest Level and Succeeded under Pressure, highlighted by a European Bronze medal in the 1km time trial in 2021"

In [3]:
# # Improving percentage match using NLP 
# # preprocessing my CV before I put it into the ML algorithm

# import spacy
# from spacy.matcher import Matcher 

# # loading in nlp 
# nlp = spacy.load("en_core_web_sm")


# resume_doc = nlp(resume)

# # if the token is a name we will remove
# def is_name(token):
#     if token.ent_iob != 0 and token.ent_type_ == "PERSON":
#         return True

# # removing stop words, punctuation, emails, urls, numbers and the items above 
# def is_token_allowed(token):
#     return bool(
#         token 
#         and str(token).strip()
#         and not token.is_stop
#         and not token.is_punct
#         and not token.like_email
#         and not token.like_url
#         and not token.like_num
#         and not is_name(token)
#     )

# # lemmatisation, removing all white spaces and lowercasing all tokens
# def preprocess_token(token):
#     return token.text.strip().lower()

# # text -> doc then preprocess token, the verify if the token is allowed, then join to str
# def text_cleaner_nlp(text):
#     doc = nlp(text)
#     for token in doc:
#         complete_filtered_tokens = [
#             preprocess_token(token)
#             for token in doc
#             if is_token_allowed(token)]
#     return ' '.join(list(complete_filtered_tokens))


# cleaned_resume = text_cleaner_nlp(resume)

# cleaned_resume

In [4]:
# text preprocessing befor text similarity ML using NLP 

import spacy 

nlp = spacy.load("en_core_web_sm")

resume_doc = nlp(resume)

def preprocessing(text):

    doc = nlp(text)

    tokens = [token.lemma_.strip().lower() for token in doc if not token.is_stop and not token.is_punct]

    preprocessed_text = " ".join(tokens)

    return preprocessed_text

In [5]:
search_term = {"Data Scientist"} # change this later 
search_location = "London"

params = {
    "q": search_term,
    "location": search_location,
    "engine": "google_jobs",
    "hl": 'en',
    "gl": "uk",
    "api_key": api_key,
    "chips": "date_posted:today"
}

search = GoogleSearch(params)

In [6]:
results = search.get_dict()
jobs_df = results["jobs_results"]
jobs_df = pd.DataFrame(jobs_df)

columns_to_keep = ['title', 'company_name', 'location', 'apply_options', 'description']
jobs_df = jobs_df[columns_to_keep]

links = []
for i in range(len(jobs_df)):
    links.append(jobs_df['apply_options'][i][0]['link'])

jobs_df['links'] = links
jobs_df.drop('apply_options', axis=1, inplace=True)

In [7]:
jobs_df

,title,company_name,location,description,links
0,Data Science Trainee,IT Career Switch,Wembley,Trainee Data Scientist - No Experience Require...,https://uk.linkedin.com/jobs/view/data-science...
1,Data scientist,Lorien,London,Data Scientist 55K\n\nLondon hybrid working\n\...,https://www.lorienglobal.com/jobs/135233-Data-...
2,Junior Data Scientist,Ecocareers,England,About the job BIP is the international consult...,https://uk.linkedin.com/jobs/view/junior-data-...
3,Data Scientist - Senior,Amro Partners,London,Data Scientist role to work on pioneering use ...,https://workinstartups.com/job-board/job/14431...
4,Data Scientist - Operations Research,Gousto,London,"Company Description\n\nHere at Gousto, we are ...",https://jobs.smartrecruiters.com/Gousto1/74400...
5,Senior Data Scientist. Job in Newcastle upon T...,Oliver Bernard,Newcastle upon Tyne,"Senior Data Scientist - Up to £150,000 - Fully...",https://jobs.lilylifestyle.co.uk/jobs/senior-d...
6,Data Scientist - Security Cleared,Searchability,Stretford,• Must have active SC or DV Clearance\n• Up to...,https://jobs.forces.net/jobs/data-scientist-se...
7,Lead Data Scientist,Oliver Bernard,Newcastle upon Tyne,Lead Data Scientist - Competitive Salary - Fle...,https://jobs.forces.net/jobs/lead-data-scienti...
8,Equity Data Scientist | Tier 1 Hedge Fund,Selby Jennings,United Kingdom,One of our tier 1 hedge fund clients are looki...,https://uk.linkedin.com/jobs/view/equity-data-...
9,"Lead Data Scientist Python, ML, NLP, GCP - Hyb...",Salt Search,London,"Lead Data Scientist (Python, ML, NLP, GCP) - H...",https://starjobsearch.co.uk/jobs/lead-data-sci...

In [8]:
# Cleaning the jobs descriptions using NLP 

resume = preprocessing(resume)
jobs_df["description"] = jobs_df["description"].apply(preprocessing)

In [9]:
import numpy as np
from sentence_transformers import SentenceTransformer

/Users/tomsharples/opt/anaconda3/lib/python3.8/site-packages/sentence_transformers/cross_encoder/CrossEncoder.py:11: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm, trange
2024-08-28 11:14:15.890873: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [10]:
import warnings
warnings.filterwarnings('ignore')

def distilBERT_compare(CV, job_desc):
    model = SentenceTransformer("distilbert-base-nli-mean-tokens")

    encoding1 = model.encode(CV)
    encoding2 = model.encode(job_desc)

    similarty = np.dot(encoding1, encoding2) / (np.linalg.norm(encoding1) * np.linalg.norm(encoding2))

    return similarty

descriptions = jobs_df["description"]

BERT_percentage = []
for i in range(len(jobs_df)):
    BERT_percentage.append(distilBERT_compare(resume, descriptions.iloc[i])*100)

jobs_df['distil BERT Match %'] = BERT_percentage
jobs_df['distil BERT Match %'] = jobs_df['distil BERT Match %'].round(2)

# sorting for highest % matches at the top
jobs_df.sort_values(by="distil BERT Match %", ascending=False, inplace=True)
# resetting index so they stay in ascending order
jobs_df.reset_index(drop=True, inplace=True)

In [11]:
jobs_df

,title,company_name,location,description,links,distil BERT Match %
0,"Lead Data Scientist Python, ML, NLP, GCP - Hyb...",Salt Search,London,lead data scientist python ml nlp gcp hybrid l...,https://starjobsearch.co.uk/jobs/lead-data-sci...,84.45
1,Data Scientist - Security Cleared,Searchability,Stretford,active sc dv clearance £ 75k doe plus bonus b...,https://jobs.forces.net/jobs/data-scientist-se...,78.97
2,Data Science Trainee,IT Career Switch,Wembley,trainee data scientist experience requiredare ...,https://uk.linkedin.com/jobs/view/data-science...,73.09
3,Data Scientist - Senior,Amro Partners,London,data scientist role work pioneer use case far ...,https://workinstartups.com/job-board/job/14431...,72.96
4,Data scientist,Lorien,London,data scientist 55 k london hybrid work join ...,https://www.lorienglobal.com/jobs/135233-Data-...,72.31
5,Lead Data Scientist,Oliver Bernard,Newcastle upon Tyne,lead data scientist competitive salary flexibl...,https://jobs.forces.net/jobs/lead-data-scienti...,72.09
6,Equity Data Scientist | Tier 1 Hedge Fund,Selby Jennings,United Kingdom,tier 1 hedge fund client look add senior data ...,https://uk.linkedin.com/jobs/view/equity-data-...,71.34
7,Junior Data Scientist,Ecocareers,England,job bip international consultancy 21st century...,https://uk.linkedin.com/jobs/view/junior-data-...,71.25
8,Senior Data Scientist. Job in Newcastle upon T...,Oliver Bernard,Newcastle upon Tyne,"senior data scientist £ 150,000 fully remote ...",https://jobs.lilylifestyle.co.uk/jobs/senior-d...,70.81
9,Data Scientist - Operations Research,Gousto,London,company description gousto mission uk love wa...,https://jobs.smartrecruiters.com/Gousto1/74400...,64.33

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

descriptions = jobs_df["description"]

# comparison function using cosine similarity 
def compare(CV, job_desc):
    compare = [CV, job_desc]
    cVect = CountVectorizer()
    cMatrix = cVect.fit_transform(compare)

    matPerecent = cosine_similarity(cMatrix)[0][1] * 100 
    matPerecent = round(matPerecent, 2)

    return matPerecent

match_percentage =[]
for i in range(len(jobs_df)):
    match_percentage.append(compare(resume, descriptions.iloc[i]))

jobs_df["Cosine Match %"] = match_percentage

#sorting for highest % matches at the top
jobs_df.sort_values(by="Cosine Match %", ascending=False, inplace=True)
# resetting index so they stay in ascending order
jobs_df.reset_index(drop=True, inplace=True)

jobs_df

,title,company_name,location,description,links,distil BERT Match %,Cosine Match %
0,Data Scientist - Senior,Amro Partners,London,data scientist role work pioneer use case far ...,https://workinstartups.com/job-board/job/14431...,72.96,39.45
1,"Lead Data Scientist Python, ML, NLP, GCP - Hyb...",Salt Search,London,lead data scientist python ml nlp gcp hybrid l...,https://starjobsearch.co.uk/jobs/lead-data-sci...,84.45,34.57
2,Data Scientist - Security Cleared,Searchability,Stretford,active sc dv clearance £ 75k doe plus bonus b...,https://jobs.forces.net/jobs/data-scientist-se...,78.97,34.15
3,Data Science Trainee,IT Career Switch,Wembley,trainee data scientist experience requiredare ...,https://uk.linkedin.com/jobs/view/data-science...,73.09,28.50
4,Junior Data Scientist,Ecocareers,England,job bip international consultancy 21st century...,https://uk.linkedin.com/jobs/view/junior-data-...,71.25,24.89
5,Data Scientist - Operations Research,Gousto,London,company description gousto mission uk love wa...,https://jobs.smartrecruiters.com/Gousto1/74400...,64.33,22.75
6,Data scientist,Lorien,London,data scientist 55 k london hybrid work join ...,https://www.lorienglobal.com/jobs/135233-Data-...,72.31,19.26
7,Equity Data Scientist | Tier 1 Hedge Fund,Selby Jennings,United Kingdom,tier 1 hedge fund client look add senior data ...,https://uk.linkedin.com/jobs/view/equity-data-...,71.34,18.49
8,Senior Data Scientist. Job in Newcastle upon T...,Oliver Bernard,Newcastle upon Tyne,"senior data scientist £ 150,000 fully remote ...",https://jobs.lilylifestyle.co.uk/jobs/senior-d...,70.81,11.71
9,Lead Data Scientist,Oliver Bernard,Newcastle upon Tyne,lead data scientist competitive salary flexibl...,https://jobs.forces.net/jobs/lead-data-scienti...,72.09,8.32

In [14]:
# Filtering for entry level jobs 
search_words = ["Senior", "Head", "Chief", "Lead", "Manager"]
search_words = [word.lower() for word in search_words]

jobs_df['title'] = jobs_df["title"].str.lower()

filter = jobs_df["title"].apply(lambda x: any(term in x for term in search_words)) # finds all the rows which contain this
# for just one word we can just use .contains()

jobs_df = jobs_df[~filter] # this symbol ~ is the NOT operator 

jobs_df.reset_index(drop=True, inplace=True)
jobs_df

,title,company_name,location,description,links,distil BERT Match %,Cosine Match %
0,data scientist - security cleared,Searchability,Stretford,active sc dv clearance £ 75k doe plus bonus b...,https://jobs.forces.net/jobs/data-scientist-se...,78.97,34.15
1,data science trainee,IT Career Switch,Wembley,trainee data scientist experience requiredare ...,https://uk.linkedin.com/jobs/view/data-science...,73.09,28.50
2,junior data scientist,Ecocareers,England,job bip international consultancy 21st century...,https://uk.linkedin.com/jobs/view/junior-data-...,71.25,24.89
3,data scientist - operations research,Gousto,London,company description gousto mission uk love wa...,https://jobs.smartrecruiters.com/Gousto1/74400...,64.33,22.75
4,data scientist,Lorien,London,data scientist 55 k london hybrid work join ...,https://www.lorienglobal.com/jobs/135233-Data-...,72.31,19.26
5,equity data scientist | tier 1 hedge fund,Selby Jennings,United Kingdom,tier 1 hedge fund client look add senior data ...,https://uk.linkedin.com/jobs/view/equity-data-...,71.34,18.49